[dD][oO][cC]
[dD][oO][cC][sS]
[rR]elease*
Dockerfile*
[lL][iI][cC][eE][nN][sS][eE]
[cC][Ll][eE][aA][nN].[bB][aA][tT]
palettes/
.dockerignore
.gitignore
.git
.github
.DS_Store
*.[mM][rR][aA]
*.[rR][bB][fF]
*.[tT][xX][tT]
*.[mM][dD]
*.[pP][nN][gG]
*.[gG][iI][fF]
LatestBuild.zip
